/****************/
/* COLOUR VARS */
/**************/
$green-bk: #69A507;
$white: #FFFFFF;
$black: #000000;
$dark-green: #536519;
$blue: #3074AF;
$red: #C53422;
$green: #479E3D;
$br-red: #FA6A52;
$br-blue: #51A7E4;
$lite-blue: #88ADDF;
$lite-red: #ED1A3B;
$purple: #E0017C;

/****************/
/* MEDIA QUERY */
/**************/
$break-small: 320px;
$break-med: 768px;
$break-large: 1024px;

/********************/
/* PADDING MARGINS */
/******************/
$c-small: 33.33%;
$c-large: 66.68%;
$l-margin: 17px;
$l-halfwidth: 50%;
$l-fullwidth: 100%;
$l-pad: 7px;
$l-doublepad:  14px;

/**************/
/* FONT SIZE */
/************/
$title-size: 28px;
$text-size: 14px;

/*********/
/* SITE */
/*******/
body{
	font-family: 'daxline-pro', sans-serif;
	padding:0px;
	margin:0px;
}
.icon{
	display:inline-block;
}
.clear{
	clear:both;
}
.clear.top{
	clear:both;
	@media screen and (max-width: $break-large) {
		clear:none;
	}	
}
a:hover{
	text-decoration:underline;
	cursor:pointer;
}
div.body{
	position:relative;
	overflow: hidden;
}
i{
	position:relative;
	top:2px;
}
/***********/
/* HEADER */
/*********/
.nav-bar {	
	height: 70px;	
	width: 100%;	
	background: linear-gradient(270deg, #F2F4F2 0%, #FFFFFF 100%);	
	box-shadow: 0 1px 0 0 #D9DEDA;
	img.logo{
		margin-top:$l-pad * 2;
		margin-left:$l-pad * 3;
		width:128px;
	}
	.join-button {
		margin-top:$l-margin;
		margin-right:$l-pad * 3;
		color:$white;
		float: right;
		text-align:center;
		font-size: 14px;
		font-weight: 900;
		line-height: 31px;
		height: 32px;
		width: 85px;
		border-radius: 2px;
		background: linear-gradient(90deg, #A5CD28 0%, #69A507 100%);
		box-shadow: 0 4px 7px 0 rgba(1,36,6,0.2);
	}
	.promo-text{
		float: right;
		margin-top:$l-pad * 3;
		margin-right:$l-pad * 3;
		font-family: 'Arial';
		color: $green-bk;
		font-size: 18px;
		font-style: italic;
		line-height:22px;
	}
}

/*****************/
/* TEXT BANNERS */
/***************/
.text-title-box{
	text-align:center;
	text-transform: uppercase;
	margin: $l-margin 0 $l-margin*2 0; 
	h1{
		color: $green-bk;
		font-size: 28px;
		font-weight: 900;
		line-height: 30px;
		margin-bottom: $l-pad;
		span.black{
			color:$black;
		}
	}
	img{
		width: 120px;
	}
}
.text-info-banner{
	margin-top: $l-margin;
	margin-bottom: $l-margin*4;
	text-align:center;
	padding-top:$l-pad;
	padding-bottom:$l-pad;
	width: 100%;
	min-height:70px;
	background-color: rgba(242,244,242,0.7);
	img{
		width: auto;
		height: 70px;
		margin-right: $l-pad*2;
	}
	div.textbox{
		position:relative;
		top:-30px;
		display:inline-block;
		vertical-align: middle;
		@media screen and (max-width: $break-large) {
			display:block;
			top:0px;
		}
		p{
		    line-height: 16px;
    		margin: 0px;
    		span.bold{
    			font-weight: bold;
    		}
    		span.green{
    			color:$green-bk;
    			font-weight: bold;
    			margin-left:20px;
    		}
		}
	}
}

/**************************/
/* LOTTO CARD COMPONENTS */
/************************/
.lotto-card.two-thirds{
	width: calc(#{$c-large} - #{$l-margin}*1 - #{$l-pad}*3);
	div.lotto-numbers{
		float: left;
		width: calc(#{$l-halfwidth} - #{$l-doublepad}*2);
	}
	@media screen and (max-width: $break-large) {
		width: calc(#{$l-fullwidth} - #{$l-margin} - (#{$l-pad});
	}	
}
.lotto-card.kenoland{
	width: calc(#{$c-small} - #{$l-margin} - (#{$l-pad});
	margin-left: $l-margin;
	border: none;
	min-height: 302px;
	.header{
		background: $dark-green url('/static/images/kenoland.png') no-repeat right top;
 		background-size: auto 100%;
		height: 120px;
		width: 100%;
	}
	.body{
		text-align: center;
		height: 180px;
		background: linear-gradient(90deg, #F56632 0%, #C62C82 58.64%, #C52B83 100%);
		p{	
			margin:0px;
			padding-top:$l-doublepad;
			font-weight: 500;
			font-size: 14px;
			color: $white;
		}
		img{
			height:57px;
			width:auto;
			margin-top: $l-pad;
			margin-right: $l-pad;
		}
		div.bet-button{
			margin:auto;
			margin-top:-20px;
			height: 49px;
			width: 159px;
			border-radius: 2px;
			background: linear-gradient(90deg, #A5CD28 0%, #69A507 100%);
			box-shadow: 0 4px 7px 0 rgba(1,36,6,0.2);
			h1{
				font-size: 12px;	
				font-weight: 500;	
				line-height: 25px;
				margin:0px;
			}
			p{	
				margin:0px;
				color:$white;
				font-size: 14px;
				font-weight: 900;
				line-height: 18px;
				padding-top:0px;
			}
		}
		div.floatLeft{
			height:70px;
			display:inline-block;
			vertical-align: middle;
			p{	
				font-weight: 900;
				line-height:0px;
				font-size: 20px;
				span.large{
					font-size: 40px;
				}
			}
		}
	}	
	@media screen and (max-width: $break-large) {
		//float: right;
		width: calc(#{$l-halfwidth} - #{$l-margin} - (#{$l-pad});
	}
	@media screen and (max-width: $break-med) {
		width: calc(#{$l-fullwidth} - #{$l-margin} - (#{$l-pad});
	}									
}

.lotto-card{
	position:relative;
	float: left;
	width: calc(#{$c-small} - #{$l-margin} - (#{$l-pad}*2);
	margin-left: $l-margin + $l-pad;
	margin-bottom: $l-margin;
	min-height: 300px;
	border: 1px solid #D9DEDA;
	div.borderLeft{
		position:absolute;
		height:100%;
		width:7px;
		background-color: #714C9C;
		left:-7px;
	}
	div.img{
		overflow:hidden;
		position: relative;
		width:100%;
		height:154px;
		color:$white;
		background-size: 100%;
		div.head-text{
			margin:0px;			
			padding: $l-doublepad;
			p{
				margin:0px;
			}
			img{
				float: right;
				max-height:80px;
				width:auto;
			}
		}
		p.title{
			color: $white;
			font-size: $title-size;
			text-transform: uppercase;
			font-weight: 900;
			line-height: 30px;
			text-shadow: 0 0 21px 0 #000000;
		}
		p.sub-title{
			font-size: 14px;
			font-weight: 500;
			line-height: 16px;
		}
		p.sub-top-title{
			text-transform: uppercase;
			font-size: 21px;
			font-weight: 900;
			line-height: 22px;
		}
		p.sub-time-title{
			font-size: 12px;
			font-weight: 300;
			line-height: 22px;
		}
		div.rectangle{
			position: absolute;
			text-align:center;
			bottom: 0px;
			height: 50px;	
			width: 100%;	
			background-color: rgba(0,0,0,0.4);	
			box-shadow: 2px 2px 7px 0 rgba(1,36,6,0.28);

		}
		div.inner-text{
			position:relative;
			top:$l-pad;
			height:100%;
			font-size: 14px;			
			display:inline-block;
			line-height: 20px;
			.title{
				
				font-weight:900;
				text-transform: uppercase;
			}
		}
		.icon.selection-left{
			height:100%;
			margin-right:20%;
			font-size:21px;
		}

		.icon.selection-right{
			height:100%;
			margin-left:20%;
			font-size:21px;
		}
	}
	div.lotto-numbers{
		float: left;
		width: 100%;
		padding: $l-doublepad;
		p.title{
			margin:0px;
			margin-bottom:$l-pad;
		}
		div.number-circle{
			float:left;
			margin-right:$l-pad;
			margin-bottom:$l-pad;
			border: 1px solid #D9DEDA;
			border-radius:50%;
			height:35px;
			width:35px;
			line-height:37px;
			text-align: center;
		}
		div.number-circle.red{
			border: 1px solid #C53422;
		}
	}

	div.card-links{
		position:relative;		
		clear:both;
		padding-top:$l-pad;
		text-align:right;
		width:100%;
		color:#aaa;
		font-size: 22px;
		margin-bottom:$l-pad;
		a{
			color: $green-bk;
			font-size: 14px;
			font-weight: bold;
			margin:0 $l-doublepad 0 $l-doublepad;
		}
	}



	@media screen and (max-width: $break-large) {
		//float: right;
		width: calc(#{$l-halfwidth} - #{$l-margin} - (#{$l-pad}*2);
	}

	@media screen and (max-width: $break-med) {
		width: calc(#{$l-fullwidth} - #{$l-margin} - (#{$l-pad});
	}

}

/**************************/
/* LOTTO CARD ITEMS */
/************************/

.mon-wed-lotto{
	.img{
		background: url('/static/images/mwlottobk.png') no-repeat center top;
	}
}

.powerball{
	.img{
		background: url('/static/images/powerball.png') no-repeat center top;
 	}
 	div.borderLeft{
		background-color: $blue;
	}
	div.lotto-numbers{
		div.number-circle.red{
			border: 1px solid $blue;
		}
	}
}
.tattslotto{
	.img{
		background: url('/static/images/tattslotto.png') no-repeat center top;	 	
 	}
 	div.borderLeft{
		background-color: $red;
	}
	div.lotto-numbers{
		div.number-circle.red{
			border: 1px solid $red;
		}
	}
}
.ozlotto{
	.img{
		background: url('/static/images/ozlotto.png') no-repeat center top;	 	
 	}
 	div.borderLeft{
		background-color: $green;
	}
	div.lotto-numbers{
		div.number-circle.red{
			border: 1px solid $green;
		}
	}
}
.us-power{
	.img{
		background: linear-gradient(90deg, #FA6A52 0%, #E92A2A 100%);	
 	}
 	div.borderLeft{
		background-color: $br-red;
	}
	div.lotto-numbers{
		div.number-circle.red{
			border: 1px solid $br-red;
		}
	}
}
.world-millions{
	.img{
		background: linear-gradient(90deg, #51A7E4 0%, #1A4088 100%);
 	}
 	div.borderLeft{
		background-color: $br-blue;
	}
}
.mega-millions{
	.img{
			background: linear-gradient(90deg, #88ADDF 0%, #3957C8 100%);
 	}
 	div.borderLeft{
		background-color: $lite-blue;
	}

	div.lotto-numbers{
		div.number-circle.red{
			border: 1px solid $lite-blue;
		}
	}
}
.keno-247{
	.img{
		background: linear-gradient(92.59deg, #ED1A3B 0%, rgba(198,22,139,0.5) 100%);
 	}
 	div.borderLeft{
		background-color: $lite-red;
	}
}
.fri-lotto{
	.img{
		background: linear-gradient(90deg, #E0017C 0%, #95248C 100%, rgba(144,38,141,0.5) 100%);
 	}
 	div.borderLeft{
		background-color: $purple;
	}
}
